private static void printArray_#type#( StringBuilder $sb, String $indent, #type#[] $array ) {
    $sb.append( "(" ).append( $array.length ).append( ") [" );
    for( int $ = 0; $ < $array.length; $++ ) {
        if( $ != 0 ) {
            $sb.append( "," );
        }
        #printer#
    }
    $sb.append( "]" );
}
