private static void printArray_#type#( StringBuilder $sb, String $indent, #type#[] $array ) {
    $sb.append( "[" );
    for( int $ = 0; $ < $array.length; $++ ) {
        if( $ != 0 ) {
            $sb.append( "\n" ).append( $indent ).append( "," );
        }
        #printer#
    }
    $sb.append( "\n" ).append( $indent ).append( "]" );
}
